---
layout: default
---

<div class="home">
  <h1 class="page-heading">
    Oh hi, I'm Ben.<br>
    I'm an Engineering Manager at <a href="https://meta.com">Meta</a>.
    <br>I like to make things.
  </h1>

  {% assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

  {% for year in years %}
    <h3 class="year-title">{{ year.name }}</h3>

    <ul class="post-list">
      {% for post in year.items %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
