---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description}/>
	</head>

  <body class="bg-canvas text-primary antialiased">
		<div class="max-w-3xl mx-auto flex flex-col h-screen p-4">
			<Header/>
			<main class="flex-grow">
				<slot/>
			</main>
			<Footer/>
		</div>
	</body
</html
